html { 
  background: url(../images/full_page_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* -------- Order Table -------- */

/* Table Style taken from Pure CSS library: https://purecss.io/, although changed to be centered and to match website color scheme */
.pure-table, table {border-collapse:collapse;border-spacing:0}
.pure-table{empty-cells:show;border:1px solid #eee; width: 100%; margin: 0 auto;font-family: 'Open Sans'}
.pure-table caption{color:#000;font:italic 85%/1 arial,sans-serif;padding:1em 0;text-align:center}
.pure-table td,.pure-table th{border-left:1px solid #eee;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em}
.pure-table th {text-align: center;}
.pure-table td:first-child,.pure-table th:first-child{border-left-width:0}
.pure-table thead{background-color:#e0e0e0;color:#000;text-align:left;vertical-align:bottom}
.pure-table td{background-color:transparent; padding: 20px;}
.pure-table-odd td,.pure-table-striped tr:nth-child(2n-1) td{background-color:#f2f2f2}
.pure-table-bordered td{border-bottom:1px solid #eee}
.pure-table-bordered tbody>tr:last-child>td{border-bottom-width:0}
.pure-table-horizontal td,.pure-table-horizontal th{border-width:0 0 1px;border-bottom:1px solid #eee}
.pure-table-horizontal tbody>tr:last-child>td{border-bottom-width:0}
/* We would like to thank Pure here and congratulate on their perfect design skills! Way to go! :)
   Full CSS code may be found at: https://unpkg.com/purecss@1.0.0/build/pure-min.css; */

/* -------- Employee and Admin Forms -------- */

/* Form style taken from Bulma Library: https://bulma.io/, although changed to be centered and to match website color scheme */
.pure-table, table {border-collapse:collapse;border-spacing:0}
.pure-table button {
	font-size: 16px;
	border-radius: 10px;
	color: white;
	padding: 0 10px;
	cursor: pointer;
	background-color: red;
}

.pure-table button:hover {
	background-color: green;
}

.field {
	font-family: 'Open Sans', Helvetica;
}

.field:last-of-type {
  margin-bottom: 40px;
}

.input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
}

input[type="text"]:disabled {
    background: #ddd;
}

.input:focus, .input:active,{
  outline: none;
  border-color: #3273dc;
  -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
          box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.input::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.input::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.input:-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.input:-ms-input-placeholder  {
  color: rgba(54, 54, 54, 0.3);
}

.input:hover {
  border-color: #b5b5b5;
}

.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 5px;
}
/* We would like to thank Bulma here and congratulate on their perfect design skills! Way to go! :)
   Full CSS code may be found on their git repository: https://github.com/jgthms/bulma/tree/master/css */